[data-theme="light"] {
  --background: white !important;
  --text: #000 !important;
  --primary: #FFA559!important;
  --primary_two: #BA90C6 !important;
  --primary_three: #C0DBEA !important;
  --primary_four: #D3CEDF !important;
  --animation_text:#A31ACB!important;
  --animatio_hover:  #F7A4A4 !important;
}

[data-theme="dark"] {
  --background: #082032 !important;
  --text: #fff !important;
  --primary: #2c394b !important ;
  --primary_two: #334756 !important;
  --primary_three: #867070!important;
  --primary_four: #19376d !important;
  --animation_text:#FF7F50 !important;
  --animatio_hover:  #FF7F50 !important;
}
body {
  color: var(--text) !important;
  background-color: var(--background) !important;
  margin: 0;

}

nav {
  color: var(--text) !important;
  background-color: var(--background) !important;
  margin: 0 !important;
  padding: 0% !important;
}

.bg-light {
  background-color: var(--background) !important;
  color: var(--text) !important;
}
.container-fluid {
  padding: 0px !important;
  background-color: var(--background) !important;
  color: var(--text) !important;
  margin: 0;
}

.nav-link {
  color: var(--text) !important;
}

.cont_pri {
  position: fixed !important;
  width: 98.9vw;
  background-color: var(--background) !important ;
  z-index: 10;
}

.fuzlogo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

#loginBtn {
  font-size: 1.5rem;
}
ul .dropdown-menu {
  background-color: var(--background);
}

.dropdown-menu li:hover {
  background-color: var(--primary_four);
}

.dropdown-item {
  background: var(--b1ackground) !important;
  color: var(--text) !important ;
}

.nav-link:hover{
  border-bottom: solid 1px var(--animation_text) !important;
  transition: none;
}

/* estilo de busqueda desplegable */

#ctn-icon-search i {
  font-size: 18px;
  color: var(--text) !important;
  cursor: pointer;
  transition: all 300ms;
}

#ctn-icon-search i:hover {
  color: var(--text);
}
#ctn-bars-search {
  position: fixed;
  top: -25px;
  width: 100%;
  background-color: var(--background);
  padding: 20px;
  z-index: 9;
  transition: all 600ms;
}
#ctn-bars-search #inputSearch {
  display: block;
  width: 1200px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

#box-search {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  background-color: var(--background);
  z-index: 8;
  overflow: hidden;
  list-style: none;
  display: none;
}

#box-search li a {
  display: block;
  width: 1200px;
  color: var(--text);
  padding: 12px 0px;
  text-decoration: none;
}

#box-search li a:hover {
  background: var(--background);
}

#box-search li a i {
  margin-right: 10px;
  color: var(--text);
}

#cover-ctn-search {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 7;
  display: none;
}

.material-icons {
  font-size: 1.9rem !important;
  padding-left: 5px !important;
  color: var(--text) !important;
}
.heart{
  color: #e84649 !important;
}

.slider {
  width: 100%;
  overflow: hidden;
  z-index: 10 !important;
}

.slider-images {
  display: flex;
  animation: slide 18s ease infinite;
}

.slider-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 30px !important;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.featured-products {
  background-color: var(--background) !important;
  padding: 60px 0;
}

.featured-products h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.product-item {
  background-color: var(--primary_two);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  height: 100%;
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 18px;
  margin-bottom: 20px;
}

.product-item .btn {
  background-color: var(--primary);
  color: var(--text);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.product-item .btn:hover {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text);
  cursor: pointer;
}

.featured-products .row .col-12:not(:last-child),
.featured-products .row .col-md-6:not(:last-child),
.featured-products .row .col-lg-4:not(:last-child) {
  margin-bottom: 30px;
}

.featured-products .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.featured-products .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  /* Estilos para pantallas m치s peque침as */
  .nav-menu {
    width: 100%;
    font-size: 1.2em;
  }
}

@media (min-width: 576px) {
  .featured-products .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .featured-products .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .featured-products .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 30px;
  }
}

.offers {
  background-color: var(--background);
  padding: 50px 0;
}

.offers h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--text);
}

.offers .offer-item {
  background-color: var(--primary_two);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.offers .offer-item:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.offers .offer-item img {
  width: 100%;
  height: auto;
  display: block;
}

.offers .offer-details {
  padding: 20px;
}

.offers .offer-details h3 {
  font-size: 24px;
  margin: 0 0 10px;
  color: var(--text);
}

.offers .offer-details p {
  font-size: 16px;
  margin: 0 0 20px;
  color: var(--text);
}

.offers .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers .price .old-price {
  font-size: 18px;
  color: var(--text);
  text-decoration: line-through;
}

.offers .price .new-price {
  font-size: 24px;
  color: var(--text);
}

.offers .btn {
  display: inline-block;
  background-color: var(--primary_three);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.offers .btn:hover {
  background-color: var(--animatio_hover);
  color: var(--text);
  transform: translateY(-3px);
}

/* Estilos para la secci칩n de rese침as */

.reviews {
  background-color: var(--background);
  padding: 80px 0;
}

.reviews h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.reviews .review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.reviews .review-item .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid var(--text);
}

.reviews .review-item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews .review-item .details {
  text-align: center;
}

.reviews .review-item .details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviews .review-item .details .rating {
  margin-bottom: 20px;
}

.reviews .review-item .details .rating .fa {
  font-size: 20px;
  color: #ffd700;
}

.reviews .review-item .details .rating .checked {
  color: #ff6600;
}

.reviews .review-item .details p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 400px;
  margin: 0 auto;
}
/* css footer */

.footer {
  background-color: var(--background);
  padding: 50px 0;
}

.footer .logo img {
  max-width: 150px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.footer .social-icons {
  font-size: 20px;
  margin-bottom: 30px;
}

.footer .social-icons a {
  color: var(--text);
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #007bff;
}

.footer .payment-methods-section {
  text-align: center;
}
.footer .payment-methods img {
  max-width: 70px;
  align-content: center;
  padding-top: 7%;
}

.footer .contact-info h4 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 45%;
}

.footer .contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 45%;
}

.footer .contact-info i {
  margin-right: 10px;
}

/* Estilos para el texto de copyright */
footer .copyright {
  text-align: center;
  font-size: 14px;
  color: var(--text);
  margin-top: 20px;
}

/* estilo de busqueda desplegable */

#ctn-icon-search i {
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
  transition: all 300ms;
}

#ctn-icon-search i:hover {
  color: var(--text);
}
#ctn-bars-search {
  position: fixed;
  top: -25px;
  width: 100%;
  background-color: var(--background);
  padding: 20px;
  z-index: 9;
  transition: all 600ms;
}
#ctn-bars-search #inputSearch {
  display: block;
  width: 1200px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

#box-search {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  background-color: var(--background);
  z-index: 8;
  overflow: hidden;
  list-style: none;
  display: none;
}

#box-search li a {
  display: block;
  width: 1200px;
  color: var(--text);
  padding: 12px 0px;
  text-decoration: none;
}

#box-search li a:hover {
  background: var(--primary_four);
}

#box-search li a i {
  margin-right: 10px;
  color: var(--text);
}

#cover-ctn-search {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 7;
  display: none;
}
.material-icons {
  font-size: 30px;
}

/* estilos modo oscuro */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  margin-right: 80px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_dark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34%;
  border: var(--text) solid !important;
  padding: 2px !important;
}

.slider_dark:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider_dark {
  background-color: var(--background);
}

input:checked + .slider_dark:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch i {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  padding-right: 60px;
}

input:checked + .switch .fa-sun {
  transform: translateY(-50%) translateX(26px);
  color: white;
}

input:checked + .switch .fa-moon {
  transform: translateY(-50%) translateX(-26px);
  color: black;
}

[data-theme="dark"] .fa-sun {
  display: none;
}

[data-theme="light"] .fa-sun {
  display: inline-block;
}

.switch .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  display: inline-block;
}

.switch .fa-sun {
  left: 15px;
  top: 20.5px;
  margin-right: 40px;
  color: rgb(255, 234, 0);
  transition: all 0.3s ease-in-out;
}

.switch .fa-moon {
  left: 0px;
  top: 20.5px;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* trabajo bien */

/* titulo animado */

h2{
  display: flex;
  font-size: 2.2rem !important;
}
.lista{
  margin-left: 10px;
  text-align: center !important;
 
  
}
.cont_text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
}

.cont_text_two{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 73.5vw;
}

.item{
  position: absolute;
  animation: roll 8s ease 1s infinite backwards;
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--animation_text)!important;
  margin-top: -5px !important;
}

.item:nth-child(1){
  animation-delay: 0s;
  opacity: 0;
}

.item:nth-child(2){
  animation-delay: 2s;
  opacity: 0;
}

.item:nth-child(3){
  animation-delay: 4s;
  opacity: 0;
}

.item:nth-child(4){
  animation-delay: 6s;
  opacity: 0;
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: translate3d(0, -70%,0);
  }
  2.5%, 25% {
    opacity: 1;
    transform: translateZ(0);
  }
  27.5%, 100% {
    opacity: 0;
    transform: translate3d(0,70%,0);
  }
}


/* lupa  */
.btn-outline-primary{
    color: var(--text) !important; 
    border: none !important;
    border-color: none !important;
}

.btn-outline-primary::after{
  color: var(--text) !important; 
  border: none !important;
  border-color: none !important;
 
}
.btn-outline-primary::before{
  color: var(--text) !important; 
  border: none !important;
  border-color: none !important;
}

.btn-outline-primary:hover{
  border-color: none !important;
  background: none !important;
}

.btn-outline-primary i {
  font-weight: bolder !important;
  font-size: 2rem !important;
}