.fuzlogo {
  width: 4rem;
  height: 4rem;
  padding: 0 0 !important;
  margin: 0 0 !important;
  border-radius: 100%;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-seccion {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

#categoria {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  outline: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#categoria:hover {
  background-color: #ddd;
}

#categoria option {
  color: #333;
  background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #fff;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

.titulo {
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  
#boton-carrito {
  border: none;
  color: royalblue;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: royalblue;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#boton-carrito:focus {
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#contenedor-productos {
  max-width: 1500px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
}
.precioProducto {
  font-weight: 700;
  color: #333;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.precioProducto span {
  font-size: 1.1rem;
  color: #04822c;
  margin-left: 1px;
}

.precioProducto:before {
  content: "$";
  font-size: 1.2em;
  vertical-align: baseline;
  margin-right: 5px;
}

.boton-agregar {
  background-color: #f74d4d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.boton-agregar:hover {
  background-color: #e43e3e;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid royalblue;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}
